<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>"this is page.html"</h1>


    <!--<div data-th-text="'Je suis le projet' +$ {title}" ></div>-->
    <!--with pipes -->
    <div data-th-text="|Je suis le projet ${title}|" ></div>

    <nav>
        <ul>
            <li><a href="/contact">page n°1</a></li>
            <li><a href="#">page n°2</a></li>
            <li><a href="#">page n°3</a></li>
        </ul>
    </nav>
</body> 
</html>